@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-darkBody bg-white;
    @apply transition-colors duration-[450ms];
  }
}

.tiles a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.whiteLink a:hover {
  text-decoration: underline #e9e9e9;
  text-underline-offset: 10px;
}
.FeedbackFormInput {
  width: 100%;
  background: none;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 0 16px 0;
  border-bottom: 2px solid white;
  outline: none;
}
.ModalFormInput {
  width: 100%;
  background: none;
  color: #161616;
  font-size: 16px;
  padding: 16px 0 16px 0;
  border-bottom: 2px solid #161616;
  outline: none;
}

.childrenAbout {
  height: 187px;
  border-radius: 16px;
  background-color: #f4f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.childrenCategory {
  border: 2px solid black;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  padding: 24px 24px 24px 24px;
}
.childrenCategory:hover {
  transition: all 0.4s;
  border: 2px solid #757575;
  h3 {
    color: #757575;
  }
}
.childrenCategory:active {
  transition: all 0.4s;
  border: 2px solid black;
  h3 {
    color: black;
  }
}
